# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/

# Python venv
.venv/
venv/
bin/
lib/
share/
include/
pyvenv.cfg

# Project
freebnb/sampleData.swift
freebnb/GoogleService-Info.plist
